.more {
  overflow: hidden;
}

main {
  padding: 50px 0 89px;
  overflow: hidden;
}

.container {
  position: relative;
}

main .row {
  align-items: stretch;
  justify-content: space-between;
}

main .main_left {
  width: 70%;
  height: auto;
  display: flex;
}

main .main_left .main_left_lists {
  display: flex;
  flex-direction: column;
}

main .main_left .main_left_lists .item {
  width: 64px;
  height: 91px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 5px;
  object-fit: cover;
  padding: 10px 8px;
}

main .main_left .main_left_lists .image__active {
  border: 1px solid #dcdcdc;
}

main .main_left .active_photo {
  width: 701px;
  height: 900px;
  margin-left: 20px;
  margin-right: 20px;
}

main .main_left .active_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .main_left .main_left_lists .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .main_right {
  width: 30%;
}

main .main_right h3 {
  font-family: FuturaMediumC, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #222;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

main .main_right h4 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: #222;
  margin-top: 3px;
  margin-bottom: 24px;
}

main .main_right h4 span {
  color: #d7bca3;
}

main .main_right .size h4 {
  font-family: FuturaMediumC, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 15px;
  color: #222;
}

main .main_right .size .size_divs {
  display: flex;
}

main .main_right .size .size_divs .size_items {
  padding: 16px;
  font-family: "Futura Md BT";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #b59475;
  border: 1px solid #d7b494;
  cursor: pointer;
}

main .main_right .size .size_divs .note_size {
  color: #d3d3d3;
  border: 1px solid #d3d3d3;
  position: relative;
}

main .main_right .size .size_divs .note_size::after {
  position: absolute;
  left: -25%;
  top: 50%;
  content: "";
  width: 150%;
  height: 1px;
  background-color: #d3d3d3;
  display: block;
  transform: rotate(-47deg);
}

main .main_right .size .size_bottom {
  margin-top: 17px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
}

main .main_right .size .size_bottom h5 {
  font-family: FuturaMediumC;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #b59475;
  display: flex;
  align-items: center;
}

main .main_right .colors {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

main .main_right .colors h5 {
  font-family: FuturaMediumC;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #222222;
}

main .main_right .colors .color_items {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 14px;
  cursor: pointer;
}

main .main_right .buttons button {
  width: 100%;
  height: 50px;
  background: #242424;
  border-radius: 3px 3px 0px 0px;
  border: none;
  margin-bottom: 20px;
  font-family: FuturaMediumC;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #f1f1f1;
  cursor: pointer;
}

main .main_right .buttons button:nth-child(2) {
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #585353;
}

main .main_right .buttons button:nth-child(3) {
  height: 30px;
  background: #e6d5c5;
  border-radius: 0px 0px 6px 3px;
  color: #ffffff;
}

main .main_right .right_info p {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #242424;

  /* or 135% */
  line-height: 23px;
}

main .main_right .right_info p:nth-child(2) {
  margin-top: 30px;
}

/*======================================section(perform)=================== */

.perform_one,
.perform_two {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.perform_two .perform_bottom,
.perform_one .perform_top {
  width: 1620px;
  display: flex;
  justify-content: flex-start;
}

.perform_top_info_all {
  display: flex;
}

.perform_top_right h3 {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 68px;
  margin-bottom: 33px;
  margin-left: 41px;
}

.perform_top_info_one {
  width: 235px;
  margin-left: 43px;
}

.perform_top_info_one span,
.perform_top_info_one p {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #c0a78f;
  margin-bottom: 25px;
}

.perform_top_info_one span {
  border: 2px solid #c0a78f;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  margin-right: 15px;
  margin-bottom: 0;
}

.perform_info_box {
  display: flex;
}

.perform_bottom_left .perform_top_info_all {
  margin-right: 42px;
}

.perform_bottom_left h2 {
  font-family: FuturaBookC;
  font-weight: 400;
  font-size: 21px;
  line-height: 20px;
  letter-spacing: 0.05em;
  margin-top: 80px;
  color: white;
}

.perform_bottom_left .big_p {
  width: 585px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 0.05em;
  margin-bottom: 39px;
  margin-top: 31px;
  color: #c0a78f;
}

.perform_two .perform_top_info_one {
  justify-content: flex-start;
  margin-left: 0;
}

.perform_two .perform_top_info_one button {
  width: 233px;
  height: 50px;
  font-family: FuturaMediumC;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-left: 35px;
  color: white;
  border: none;
  background: #c0a78f;
  cursor: pointer;
}

.more_bottom .more_bottom__top {
  display: flex;
}

.more_bottom .more_bottom__top .more_bottom_top__left {
  position: relative;
  width: 51%;
}

.more_bottom .more_bottom__top .more_bottom_top__left img {
  width: 100%;
  height: 517px;
  object-fit: cover;
}

.more_bottom .more_bottom__top .more_bottom_top__right {
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  background: #252831;
  width: 959px;
  height: 517px;
  position: absolute;
  right: -300px;
}

.more_bottom .more_bottom__bottom .perform_two {
  display: flex;
}

.more_bottom .more_bottom__top,
.more_bottom .more_bottom__bottom {
  height: 517px;
}

.more_bottom .more_bottom__bottom .perform_two .perform_alll {
  width: 980px;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
  background: #252831;
  height: 517px;
  position: absolute;
  left: -300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.more_bottom .more_bottom__bottom .perform_two .more_bottom__right_photo {
  position: absolute;
  width: 50%;
  right: -10px;
}

.more_bottom .more_bottom__bottom .perform_two .more_bottom__right_photo img {
  width: 100%;
  height: 517px;
  object-fit: cover;
}

.perform_item {
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 100px 49px;
}

.perform_item h2 {
  font-family: FuturaBookC;
  font-weight: 400;
  font-size: 21px;
  line-height: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.perform_item .big_p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #c0a78f;
  margin-bottom: 40px;
}

.more_bottom__bottom .perform_top_info_all {
  justify-content: flex-end;
}

.more_bottom {
  margin-bottom: 120px;
}

.profile_account .title__like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile_account .title__like h5 {
  font-family: FuturaMediumC;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #222222;
}
.profile_account {
  cursor: pointer;
}
.containerSwipper {
  width: 1170px;
  margin: auto;
}

.containerSwipper .text {
  font-family: FuturaBookC;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #222222;
  margin-bottom: 21px;
}

.containerSwipper .inline {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  position: absolute;
  left: 0;
}

.profile_account .price__p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_account .price__p h6 {
  font-family: FuturaMediumC;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #222222;
}

.profile_account .price__p p {
  font-family: FuturaMediumC;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: #afafaf;
}
.mySwiper {
  margin-bottom: 30px;
  margin-top: 50px;
}

.Accordions {
  margin-top: 35px;
}

.btn_accordion {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  cursor: pointer;
  width: 100%;
}
.Accordions .btn_accordion h4 {
  font-family: FuturaMediumC;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #222222;
  margin-bottom: 0 !important;
}

.accordion_body {
  padding: 10px;
  font-family: FuturaMediumC;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
  margin-left: 10px;
}

.btn_accordion .accordion__span {
  width: 11px;
  height: 11px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn_accordion .accordion__span span:first-child {
  width: 1px;
  height: 11px;
  display: block;
  background: #3d3d3d;
  transform: translateY(0.5px);
  transition: 0.3s;
}
.btn_accordion .accordion__span span:last-child {
  width: 11px;
  height: 1px;
  display: block;
  background: #3d3d3d;
  transform: translateX(-0.3px) translateY(-5px);
}
.accordion_active_span {
  transform: rotate(180deg);
}

.btn_accordion .accordion_active_span span:first-child {
  opacity: 0;
}

@media (max-width: 1500px) {
  main .main_left {
    width: 65%;
  }

  main .main_right {
    width: 35%;
  }
}

@media (max-width: 1350px) {
  .perform_item {
    width: 55%;
    padding: 0;
    right: 40px;
    top: 5%;
  }

  .more_bottom .more_bottom__top .more_bottom_top__left img {
    height: 415px;
  }

  .more_bottom .more_bottom__top .more_bottom_top__right {
    width: 888px;
    height: 415px;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  }

  .more_bottom .more_bottom__bottom .perform_two .perform_alll {
    width: 888px;
    height: 415px;
    left: -278px;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
  }

  .perform_top_right h3 {
    margin-top: 20px;
    margin-left: 20px;
  }

  .perform_top_info_one {
    margin-left: 20px;
  }

  .more_bottom .more_bottom__top,
  .more_bottom .more_bottom__bottom {
    height: 415px;
  }

  .more_bottom .more_bottom__bottom .perform_two .more_bottom__right_photo img {
    height: 415px;
  }

  .perform_item h2 {
    margin-bottom: 15px;
  }

  .perform_two .perform_top_info_one button {
    margin-left: 15px;
  }
}

@media (max-width: 1230px) {
  .more_bottom .more_bottom__top .more_bottom_top__right {
    position: inherit;
    width: 50%;
    clip-path: none;
  }

  .more_bottom .more_bottom__bottom .perform_two .perform_alll {
    position: inherit;
    width: 50%;
    clip-path: none;
  }

  .perform_item {
    width: auto;
    padding: 30px;
    right: 40px;
    top: 5%;
    position: inherit;
  }

  .more_bottom .more_bottom__bottom .perform_two .more_bottom__right_photo {
    right: 0;
    position: inherit;
  }
}

@media (max-width: 1190px) {
  main .main_right .size .size_divs .size_items,
  main .main_right .size .size_bottom h5 {
    font-size: 12px;
  }

  .perform_top_info_one span {
    margin-right: 5px;
  }

  .perform_top_info_one {
    width: auto;
  }

  .perform_top_info_one span,
  .perform_top_info_one p {
    font-size: 13px;
    margin-bottom: 10px;
  }

  main .main_right .size .size_divs {
    display: flex;
  }

  .perform_top_right h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 950px) {
  main .main_left .active_photo {
    height: 700px;
  }

  main {
    padding: 30px 0 25px;
    overflow: hidden;
  }

  main .main_right .right_info p:nth-child(2) {
    margin-top: 15px;
  }

  main .main_right .right_info p {
    font-size: 14px;
  }

  main .main_right .size .size_bottom {
    margin-bottom: 25px;
    flex-direction: column;
  }
}

@media (max-width: 920px) {
  .more_bottom .more_bottom__top {
    flex-direction: column-reverse;
    height: auto;
  }

  .more_bottom .more_bottom__top .more_bottom_top__right {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
  }
  .more_bottom .container {
    padding: 0;
    width: 100%;
  }
  .perform_top_info_one span,
  .perform_top_info_one p {
    margin-bottom: 20px;
  }

  .perform_info_box {
    height: 100px;
  }
  .perform_top_right h3 {
    margin-bottom: 37px;
    margin-top: 20px;
  }
  .more_bottom .more_bottom__top .more_bottom_top__left {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .more_bottom .more_bottom__top .more_bottom_top__left img {
    width: 65%;
    height: auto;
    transform: translateY(-150px);
  }
  .more_bottom .more_bottom__bottom {
    height: auto;
  }
  .more_bottom .more_bottom__bottom .perform_two {
    flex-direction: column;
  }
  .more_bottom .more_bottom__bottom .perform_two .perform_alll {
    width: 100%;
    background-color: transparent;
  }
  .more_bottom .more_bottom__bottom .perform_item h2 {
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #222222;
    margin-bottom: 20px;
  }
  .more_bottom__bottom .perform_item .big_p {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #222222;
    margin-bottom: 40px;
  }
  .more_bottom__bottom .perform_top_info_one span,
  .more_bottom__bottom .perform_top_info_one p {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #222222;
  }
  .more_bottom .perform_top_info_one span {
    margin-right: 20px;
  }

  main .main_right .buttons button {
    display: none;
  }
  .perform_two .perform_top_info_one button {
    display: none;
  }
  .more_bottom .more_bottom__bottom .perform_two .more_bottom__right_photo {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .more_bottom .more_bottom__bottom .perform_two .more_bottom__right_photo img {
    width: 65%;
    height: auto;
    transform: translateY(-100px);
  }
  .more_bottom .perform_item {
    padding-bottom: 100px;
  }
  .more_bottom {
    margin-bottom: 0;
  }
  main .main_right .size .size_divs .size_items {
    padding: 13px;
  }
}
.swiperSlide img {
  width: 100%;
}

@media (max-width: 845px) {
  main .main_right h3 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  main .main_right h4 {
    margin-bottom: 15px;
  }
  main .main_left {
    width: 55%;
  }
  main .main_right {
    width: 45%;
  }
  main .main_left .active_photo img {
    height: auto;
  }
  main .main_right .size .size_bottom {
    margin-bottom: 15px;
  }
  main .main_right .colors {
    margin-bottom: 10px;
  }
  main .main_right .colors .color_items {
    width: 35px;
    height: 35px;
  }
  main .main_right .colors .color_items img {
    width: 100%;
    height: 100%;
  }

  .Accordions {
    margin-top: 15px;
  }
  main .main_left .active_photo {
    width: 100%;
    height: auto;
    margin-left: 10px;
  }
}

@media(max-width:768px){
  main .row {
    flex-direction: column;
  }
  main .main_left{
    margin-bottom: 20px;
  }
  main .main_left,main .main_right {
    width:95%;
    margin: auto;
  } 
  main .main_right h3 {
    font-size: 20px;
  }
  main .main_right  h4 {
    font-size: 30px;
    margin-top: 16px;
  }
  main .main_right .size .size_bottom{
    flex-direction: row;
  }
}

@media(max-width:576px){
  .mySwiper {
    margin-bottom: 30px;
    margin-top: 0;
  }   
  .Accordions .btn_accordion h4{
    margin-top: 0;
  }
  .profile_account .price__p p{
    display: none;
  }
  .more_bottom .more_bottom__top .more_bottom_top__left img { 
    transform: translateY(-66px);
  }
  .more_bottom .more_bottom__bottom .perform_two .more_bottom__right_photo img {
    width: 65%;
    height: auto;
    transform: translateY(0px);
  }
  
  .perform_top_info_all{
    display: block;
  }
  .perform_info_box {
    height: auto;
    margin-bottom: 0;
  }
  .containerSwipper .text{
    font-size: 15px;
    margin-left: 20px;
  }  
}

