@font-face {
  font-family: FuturaMediumC;
  src: url(../fonts/FuturaMediumC.otf);
  font-weight: bold;
}
@font-face {
  font-family: FuturaBookC;
  src: url(../fonts/FuturaBookCRegular.otf);
}

.HeaderSlider {
  width: 100%;
}

.swiperSlide {
  width: 100%;
  background-size: cover;
  position: relative;
}

.swiperSlide img {
  width: 100%;
  height: 760px;
  object-fit: cover;
}

.swiperSlide p {
  position: absolute;
  bottom: 146px;
  right: 250px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  font-family: FuturaBookC;
  color: #ffffff;
  width: 326px;
}

.containerSlider {
  position: relative;
}

@media (max-width: 1500px) {
  .swiperSlide img {
    height: auto;
  }
}

@media (max-width: 1230px) {
  .swiperSlide p {
    right: 150px;
    bottom: 110px;
  }
}
