@font-face {
  font-family: HelveticaNeueCyr;
  src: url(../../components/fonts/FuturaBookCRegular.otf);
}
@font-face {
  font-family: FuturaBookC;
  src: url(../../components/fonts/FutuBd.ttf);
}

.about_main {
  position: relative;
  display: flex;
  justify-content: end;
  height: 525px;
  margin-bottom: 69px;
}

.About h2 {
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 41px;
  font-family: FuturaBookC;
}

.left_about {
  position: absolute;
  left: -250px;
  width: 961px;
  height: 525px;
  clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
  overflow: hidden;
  cursor: pointer;
}

.left_about img {
  transition: 0.3s;
}

.left_about:hover img {
  transform: scale(1.1);
}

.right_about {
  width: 539px;
  position: absolute;
  right: 83px;
  top: 125px;
}

.right_about p {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #171717;
  margin-bottom: 30px;
}

.right_about a {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  color: #c0c0c0;
}

.right_about a svg {
  margin-left: 10px;
}

.right_about a span {
  margin-right: 10px;
}

@media (max-width: 1350px) {
  .left_about {
    width: 70%;
    height: 480px;
    left: -205px;
  }
  .right_about {
    right: 30px;
    top: 95px;
  }
}
