.Reviews .swiper-button-prev {
  left: 10px;
}
.Reviews .swiper-button-next {
  right: 10px;
}

.Reviews .swiper-pagination span {
  background: #d9dbe1;
}
.Reviews .swiper .swiper-pagination {
  bottom: 0;
}

.Showroom .swiper-pagination {
  bottom: 40px;
}
.Showroom .swiper-pagination span {
  background: #ffffff;
}
.Carousel_Mobile .swiper-pagination {
  bottom: 0px;
}
.Carousel_Mobile .swiper-pagination span {
  background: #ced2db;
}
