.Reviews .swiper-button-prev {
  left: 10px;
}
.Reviews .swiper-button-next {
  right: 10px;
}

.Reviews .swiper-pagination span {
  background: #d9dbe1;
}
.Reviews .swiper .swiper-pagination {
  bottom: 0;
}
