/* Navbar started */

@font-face {
  font-family: FuturaMd;
  src: url(../fonts/FuturaMediumC.otf);
  font-weight: bold;
}
@font-face {
  font-family: FuturaMediumC;
  src: url(../fonts/FuturaMediumC.otf);
  font-weight: bold;
}

.Navbar {
  padding-top: 26px;
  padding-bottom: 17px;
  background: #ffffff;
  border-bottom: 1px solid #e3e4e4;
}

.row {
  justify-content: space-between;
  padding: 0 14px;
}

.Navbar .left {
  display: flex;
  align-items: center;
}

.Navbar .left .bars {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.Navbar .left .bars span {
  width: 27px;
  height: 1px;
  background: #222222;
  margin-bottom: 7px;
}

.Navbar .left .bars span:last-child {
  margin-bottom: 0;
  width: 20px;
}

.Navbar .left .socials {
  display: flex;
  align-items: center;
  margin-left: 61px;
}

.Navbar .left .socials a {
  margin-right: 25.5px;
}

.Navbar .left .socials a:last-child {
  margin-right: 0;
}

/* Navbar Right started */

.Navbar .right {
  display: flex;
  align-items: center;
}

.Navbar .right .phone a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #222222;
}

.Navbar .right .LikeAndCard {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.Navbar .right .LikeAndCard a {
  margin-left: 25px;
  position: relative;
  text-decoration: none;
}
.Navbar .right .LikeAndCard a:first-child {
  margin-left: 0;
}

.Navbar .right .LikeAndCard a span {
  position: absolute;
  top: -6px;
  right: -6px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  color: #333333;
}

/* Navbar bottom started */

.Navbar .row_bottom {
  display: flex;
  justify-content: center;
  margin-top: 33px;
}
.Navbar .row_bottom ul {
  display: flex;
}

.Navbar .row_bottom ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin-left: 61px;
  font-family: "Futura Md BT", sans-serif;
}

.Navbar .row_bottom ul li:first-child a {
  margin-left: 0;
}

.Navbar_black {
  width: 101%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 1);
  min-height: 100vh;
  top: -130%;
  transition: 0.3s;
  z-index: 10;
}
.Navbar_black .left .bars {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}
.Navbar_black .left .bars span {
  background: #ffffff;
}

.Navbar_black .left .bars span:first-child {
  transform: translateX(0) translateY(0px) rotate(45deg);
  margin: 0;
}
.Navbar_black .left .bars span:last-child {
  transform: translateX(0) translateY(-1px) rotate(-45deg);
  margin: 0;
  width: 27px;
}
.Navbar_black .left .socials a path {
  fill: #ffffff;
}
.Navbar_black .right .phone a {
  color: #ffffff;
}

.Navbar_black .right .LikeAndCard a span {
  color: #ffffff;
}

.Navbar_black .row_bottom {
  margin-bottom: 130px;
}

.Navbar_black .row_bottom ul li a {
  color: #ffffff;
}

.Navbar_black .uls {
  display: flex;
  width: 1127px;
  margin: auto;
  justify-content: space-between;
}

.Navbar_black .uls ul h4 {
  font-family: FuturaMediumC;
  font-weight: 500;
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-bottom: 66px;
  transition: 0.3s;
  cursor: pointer;
}

.Navbar_black .uls ul h4:hover {
  color: #e1c4a9;
}
.Navbar_black .uls ul li {
  margin-bottom: 31px;
}

.Navbar_black .uls ul li a {
  font-family: FuturaMediumC;
  font-size: 19px;
  color: #ffffff;
}

.navbar_active {
  top: 0;
}

.containerMobile {
  display: none;
}

@media (max-width: 1200px) {
  .Navbar_black .uls {
    height: 400px;
    overflow-x: hidden;
    width: 94%;
  }
}

@media (max-width: 1230px) {
  .Navbar .row_bottom ul {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .Navbar .row_bottom ul li a {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .Navbar .row_bottom ul {
    width: 90%;
  }
  .Navbar .row_bottom ul li:nth-child(6),
  .Navbar .row_bottom ul li:nth-child(7) {
    display: none;
  }
  .Navbar .left .socials,
  .Navbar .right .LikeAndCard {
    margin-left: 30px;
  }

  .Navbar_black .uls ul:last-child {
    display: none;
  }
  .Navbar_black {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .Navbar .right .LikeAndCard a:first-child {
    display: none;
  }
  .Navbar .left .socials {
    margin-left: 0;
  }
  .Navbar .right .LikeAndCard {
    margin-right: 6px;
  }
  .Navbar .left .socials,
  .Navbar .right .LikeAndCard {
    margin-left: 13px;
  }
  .Navbar .right .LikeAndCard a {
    margin-left: 0;
  }
}
.navbar_mobile {
  display: none;
}

.navbarMobileActive {
  left: 0;
}

.navbar_mobile .navbar_top_mobile .left {
  display: flex;
  align-items: center;
}
.navbar_mobile .navbar_top_mobile .left .bars {
  width: 17.69px;
  height: 16.36px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-right: 26px;
}
.navbar_mobile .navbar_top_mobile .left a {
  height: 16.36px;
  position: relative;
}
.navbar_mobile .navbar_top_mobile .left a span,
.navbar_mobile .navbar_top_mobile .right .LikeAndCard a span {
  position: absolute;
  top: -6px;
  right: -6px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  color: #ffffff;
}

.navbar_mobile .bars span {
  width: 25px;
  height: 1px;
  display: block;
  background-color: #fff;
  cursor: pointer;
}
.navbar_mobile .bars span:first-child {
  transform: rotate(45deg);
}
.navbar_mobile .bars span:last-child {
  transform: rotate(-45deg) translateY(-0.5px) translateX(1px);
}

.navbar_mobile .navbar_top_mobile .right .LikeAndCard a {
  position: relative;
}

.navbar_mobile .navbar_top_mobile .right .LikeAndCard a span {
  top: -14px;
}

.Accordions {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 37px;
}

.Accordion_big_div {
  height: 60%;
  overflow: scroll;
}

.btn_accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 28px;
  padding-top: 28px;
  cursor: pointer;
}
.btn_accordion h4 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.accordion_body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-bottom: 28px;
  padding-top: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin-left: 15px;
  cursor: pointer;
}
.AccordionBody {
  transition-timing-function: unset !important;
}

.navbar_mobile_bottom {
  position: fixed;
  padding: 20px 21px 20px 20px;
  bottom: 0;
  background: #e1c4a9;
  width: 100%;
}

.navbar_mobile_bottom h5 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-bottom: 37px;
}

.navbar_mobile_bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_mobile_bottom ul li {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_mobile_bottom ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-style: normal;
  font-family: Proxima Nova;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  width: 85px;
  height: 78px;
}

.navbar_mobile_bottom ul li a svg {
  margin-bottom: 10px;
}

.btn_accordion svg {
  transition: 0.2s;
}

.accordion_active_span svg {
  transform: rotate(90deg);
}

.bg_card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  transition: 0.1s;
}

.bg_card_active {
  z-index: 10;
}

@media (max-width: 576px) {
  .navbar_mobile .navbar_top_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 20px;
    padding-left: 15px;
  }
  .Navbar .row_bottom {
    display: none;
  }
  .Navbar .container {
    display: none;
  }
  .containerMobile {
    display: block;
  }

  .Navbar .containerMobile .right .LikeAndCard a {
    display: block;
  }
  .Navbar .containerMobile .left .bars {
    margin-right: 20px;
  }
  .Navbar .containerMobile .left .bars span:last-child {
    width: 27px;
  }
  .Navbar .containerMobile .left a {
    position: relative;
    height: 16.36px;
  }
  .Navbar .containerMobile .left a span {
    position: absolute;
    top: -5px;
    right: -5px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    color: #333333;
  }

  .navbar_mobile {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    transition: 0.3s;
    z-index: 10;
    background: #e1c4a9;
    height: 100vh;
    display: block;
  }
}

.navbarMobileActive {
  left: 0;
}
