@import url("https://fonts.cdnfonts.com/css/futura-md-bt");
@import url("https://fonts.cdnfonts.com/css/futura-medium");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  background: #fafafa;
}

.container {
  width: 1338px;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.swiper {
  z-index: 0;
}

.swiper.swiper-initialized {
  z-index: 0;
}

@media (max-width: 1350px) {
  .container {
    width: 1200px;
    margin: auto;
  }
}
@media (max-width: 1230px) {
  .container {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 1060px) {
  .container {
    width: 95%;
    margin: auto;
  }
}
@media (max-width: 996px) {
  .container {
    width: 98%;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .container {
    width: 95%;
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  body {
    background: #ffffff;
  }
}
